{% load i18n%}

<form action = "{% url 'add_rating' %}" method = "post" name = "rating">
  
  {% csrf_token %}
  <div class="star-rating">
  
  <input type="hidden" value="{{object.id}}" name="post" >

  <div class="star-rating__wrap">
       
  {% for k, v in star_form.fields.star.choices %}     

  <input class="star-rating__input" 
  id="rating{{ v }}" type="radio" name="star" value="{{ v }}">

  <label class="star-rating__ico fa fa-star-o fa-lg" 
  for="rating{{ v }}"  title="{{ v }} out of {{ v }} stars"></label>
            
  {% endfor %}

  </div>

  </div>

</form>


